In [1]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Import file
df = pd.read_csv('TDF_GC_rm_tn.csv')

In [3]:
df.head()

,Unnamed: 0,Rank,Prev_rank,Rider_name,Team_name,Points,Time,Year,Weight(kg),Height(m),...,Intermarché - Wanty - Gobert Matériaux,Trek - Segafredo,Team Qhubeka NextHash,B&B Hotels p/b KTM,Team Arkéa Samsic,Alpecin-Fenix,Israel Start-Up Nation,Team DSM,Team TotalEnergies,Lotto Soudal
0,0,1,1,POGAČAR Tadej,UAE-Team Emirates,500.0,82:56:36,2021,66.0,1.76,...,0,0,0,0,0,0,0,0,0,0
1,1,1,1,POGAČAR Tadej,UAE-Team Emirates,500.0,87:20:05,2020,66.0,1.76,...,0,0,0,0,0,0,0,0,0,0
2,2,2,2,VINGEGAARD Jonas,Team Jumbo-Visma,380.0,5:205:20,2021,60.0,1.75,...,0,0,0,0,0,0,0,0,0,0
3,3,3,3,CARAPAZ Richard,INEOS Grenadiers,340.0,7:037:03,2021,62.0,1.70,...,0,0,0,0,0,0,0,0,0,0
4,4,13,13,CARAPAZ Richard,INEOS Grenadiers,170.0,25:5325:53,2020,62.0,1.70,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df = df.drop('Unnamed: 0',axis=1)
df.head(2)

,Rank,Prev_rank,Rider_name,Team_name,Points,Time,Year,Weight(kg),Height(m),Age,...,Intermarché - Wanty - Gobert Matériaux,Trek - Segafredo,Team Qhubeka NextHash,B&B Hotels p/b KTM,Team Arkéa Samsic,Alpecin-Fenix,Israel Start-Up Nation,Team DSM,Team TotalEnergies,Lotto Soudal
0,1,1,POGAČAR Tadej,UAE-Team Emirates,500.0,82:56:36,2021,66.0,1.76,23,...,0,0,0,0,0,0,0,0,0,0
1,1,1,POGAČAR Tadej,UAE-Team Emirates,500.0,87:20:05,2020,66.0,1.76,22,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1741 entries, 0 to 1740
Data columns (total 33 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Rank                                    1741 non-null   int64
 1   Prev_rank                               1741 non-null   int64
 2   Rider_name                              1741 non-null   object
 3   Team_name                               1741 non-null   object
 4   Points                                  1741 non-null   float64
 5   Time                                    1741 non-null   object
 6   Year                                    1741 non-null   int64
 7   Weight(kg)                              1741 non-null   float64
 8   Height(m)                               1741 non-null   float64
 9   Age                                     1741 non-null   int64
 10  UAE-Team Emirates                       1741 non-null   int64
 11  Team Jumbo-Visma                        1741 non-null   int64
 12  INEOS Grenadiers                        1741 non-null   int64
 13  AG2R Citroën Team                       1741 non-null   int64
 14  BORA - hansgrohe                        1741 non-null   int64
 15  Movistar Team                           1741 non-null   int64
 16  Astana - Premier Tech                   1741 non-null   int64
 17  Cofidis, Solutions Crédits              1741 non-null   int64
 18  Bahrain - Victorious                    1741 non-null   int64
 19  EF Education - Nippo                    1741 non-null   int64
 20  Groupama - FDJ                          1741 non-null   int64
 21  Deceuninck - Quick Step                 1741 non-null   int64
 22  Team BikeExchange                       1741 non-null   int64
 23  Intermarché - Wanty - Gobert Matériaux  1741 non-null   int64
 24  Trek - Segafredo                        1741 non-null   int64
 25  Team Qhubeka NextHash                   1741 non-null   int64
 26  B&B Hotels p/b KTM                      1741 non-null   int64
 27  Team Arkéa Samsic                       1741 non-null   int64
 28  Alpecin-Fenix                           1741 non-null   int64
 29  Israel Start-Up Nation                  1741 non-null   int64
 30  Team DSM                                1741 non-null   int64
 31  Team TotalEnergies                      1741 non-null   int64
 32  Lotto Soudal                            1741 non-null   int64
dtypes: float64(3), int64(27), object(3)
memory usage: 449.0+ KB

In [6]:
df.isnull().sum().sum()

0

In [7]:
df[df.Rank > 100]

,Rank,Prev_rank,Rider_name,Team_name,Points,Time,Year,Weight(kg),Height(m),Age,...,Intermarché - Wanty - Gobert Matériaux,Trek - Segafredo,Team Qhubeka NextHash,B&B Hotels p/b KTM,Team Arkéa Samsic,Alpecin-Fenix,Israel Start-Up Nation,Team DSM,Team TotalEnergies,Lotto Soudal
43,110,110,POELS Wout,Bahrain - McLaren,25.0,4:47:234:47:23,2020,66.0,1.83,33,...,0,0,0,0,0,0,0,0,0,0
109,119,119,MOHORIČ Matej,Bahrain Merida,25.0,3:33:433:33:43,2019,72.0,1.85,25,...,0,0,0,0,0,0,0,0,0,0
159,140,139,THOMAS Geraint,Sky Procycling,25.0,3:43:343:43:34,2013,71.0,1.83,27,...,0,0,0,0,0,0,0,0,0,0
182,120,120,POLITT Nils,Israel Start-Up Nation,25.0,5:09:025:09:02,2020,80.0,1.92,26,...,0,0,0,0,0,0,1,0,0,0
199,109,109,COLBRELLI Sonny,Bahrain Merida Pro Cycling Team,25.0,",,3:21:55",2018,74.0,1.76,28,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1736,147,147,IGNATIEV Mikhail,Team Katusha,25.0,3:29:073:29:07,2011,67.0,1.76,26,...,0,0,0,0,0,0,0,0,0,0
1737,148,148,COYOT Arnaud,Saur - Sojasun,25.0,3:29:203:29:20,2011,76.0,1.95,31,...,0,0,0,0,0,0,0,0,0,0
1738,150,150,CIOLEK Gerald,Quickstep Cycling Team,25.0,3:30:223:30:22,2011,75.0,1.79,25,...,0,0,0,0,0,0,0,0,0,0
1739,153,153,KOSTYUK Denys,Lampre - ISD,25.0,3:31:423:31:42,2011,66.0,1.76,29,...,0,0,0,0,0,0,0,0,0,0
1740,155,155,JÉRÔME Vincent,Team Europcar,25.0,3:34:373:34:37,2011,65.0,1.74,27,...,0,0,0,0,0,0,0,0,1,0

- dropping all riders that finished outside of top 100
- dropping previous year's rank as it too exists in the data set
- dropping Team_name as it already exists cleaned and binarized
- dropping Points, Time (different y variables)

In [8]:
df = df[df.Rank < 101]

In [9]:
df = df.drop(['Prev_rank','Team_name','Points','Time'], axis=1)

In [10]:
df.head(2)

,Rank,Rider_name,Year,Weight(kg),Height(m),Age,UAE-Team Emirates,Team Jumbo-Visma,INEOS Grenadiers,AG2R Citroën Team,...,Intermarché - Wanty - Gobert Matériaux,Trek - Segafredo,Team Qhubeka NextHash,B&B Hotels p/b KTM,Team Arkéa Samsic,Alpecin-Fenix,Israel Start-Up Nation,Team DSM,Team TotalEnergies,Lotto Soudal
0,1,POGAČAR Tadej,2021,66.0,1.76,23,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,POGAČAR Tadej,2020,66.0,1.76,22,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
df = pd.get_dummies(df, columns=['Rider_name'], prefix='Rider')

#Glimpse at the modified data
df.head(2)

,Rank,Year,Weight(kg),Height(m),Age,UAE-Team Emirates,Team Jumbo-Visma,INEOS Grenadiers,AG2R Citroën Team,BORA - hansgrohe,...,Rider_YATES Adam,Rider_YATES Simon,Rider_ZABRISKIE David,Rider_ZAKARIN Ilnur,Rider_ZANDIO Xabier,Rider_ZEITS Andrey,Rider_ZIMMERMANN Georg,Rider_ZINGLE Romain,Rider_ZUBELDIA Haimar,Rider_ĐURASEK Kristijan
0,1,2021,66.0,1.76,23,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2020,66.0,1.76,22,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
df.loc[df.Rank == 1, 'winner'] = 1

df.head()

,Rank,Year,Weight(kg),Height(m),Age,UAE-Team Emirates,Team Jumbo-Visma,INEOS Grenadiers,AG2R Citroën Team,BORA - hansgrohe,...,Rider_YATES Simon,Rider_ZABRISKIE David,Rider_ZAKARIN Ilnur,Rider_ZANDIO Xabier,Rider_ZEITS Andrey,Rider_ZIMMERMANN Georg,Rider_ZINGLE Romain,Rider_ZUBELDIA Haimar,Rider_ĐURASEK Kristijan,winner
0,1,2021,66.0,1.76,23,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
1,1,2020,66.0,1.76,22,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
2,2,2021,60.0,1.75,25,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
3,3,2021,62.0,1.70,28,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,NaN
4,13,2020,62.0,1.70,27,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,NaN

In [13]:
df = df.fillna(0)

In [14]:
df.winner = df.winner.astype('int8')

In [15]:
df['winner']

0       1
1       1
2       0
3       0
4       0
       ..
1715    0
1716    0
1717    0
1718    0
1719    0
Name: winner, Length: 1100, dtype: int8

In [16]:
df = df.drop('Rank',axis = 1)
df.head(2)

,Year,Weight(kg),Height(m),Age,UAE-Team Emirates,Team Jumbo-Visma,INEOS Grenadiers,AG2R Citroën Team,BORA - hansgrohe,Movistar Team,...,Rider_YATES Simon,Rider_ZABRISKIE David,Rider_ZAKARIN Ilnur,Rider_ZANDIO Xabier,Rider_ZEITS Andrey,Rider_ZIMMERMANN Georg,Rider_ZINGLE Romain,Rider_ZUBELDIA Haimar,Rider_ĐURASEK Kristijan,winner
0,2021,66.0,1.76,23,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2020,66.0,1.76,22,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [19]:
train = df[df.Year != 2021]
test = df[df.Year == 2021]

In [20]:
test

,Year,Weight(kg),Height(m),Age,UAE-Team Emirates,Team Jumbo-Visma,INEOS Grenadiers,AG2R Citroën Team,BORA - hansgrohe,Movistar Team,...,Rider_YATES Simon,Rider_ZABRISKIE David,Rider_ZAKARIN Ilnur,Rider_ZANDIO Xabier,Rider_ZEITS Andrey,Rider_ZIMMERMANN Georg,Rider_ZINGLE Romain,Rider_ZUBELDIA Haimar,Rider_ĐURASEK Kristijan,winner
0,2021,66.0,1.76,23,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,2021,60.0,1.75,25,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2021,62.0,1.70,28,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,2021,67.0,1.88,26,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6,2021,65.0,1.85,30,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,2021,75.0,1.84,22,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
358,2021,74.0,1.81,36,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
365,2021,61.0,1.74,23,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
367,2021,75.0,1.78,39,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
371,2021,78.0,1.87,30,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
X_train = train.drop(['winner'], axis=1)
y_train = train.winner

In [22]:
X_test = test.drop(['winner'], axis=1)
y_test = test.winner

In [30]:
print(X_train.shape)
print(X_test.shape)

(1000, 453)
(100, 453)

In [29]:
print(y_train.shape)
print(y_test.shape)

(1000,)
(100,)